

#/****************************************************************************
# *
# *   Copyright (C) 2023 bsvtgc@gmail.com. All rights reserved.
# *   Author: Vincent <bsvtgc@gmail.com>
# *
# ****************************************************************************/

# -----------------------------------------------------#

# This is a plain vanilla openOCD config to load the 
# executable into FE310-G002 target on hifive1-revb
# board. 

# ----------------------------------------------------#
# -------- HELPERS -----------------------------------#
# TCL Crash Course - https://openocd.org/doc/html/Tcl-Crash-Course.html
# CPU HELPER: https://openocd.org/doc/html/CPU-Configuration.html 
# TAP HELPER: https://openocd.org/doc/html/TAP-Declaration.html
# General Commands: https://openocd.org/doc/html/General-Commands.html
# FLASH Commands: https://openocd.org/doc/html/Flash-Commands.html
# EVENTS: /riscv-openocd/src/target/target.c
# Openocd Flash driver: riscv-openocd/contrib/loaders/flash/fespi/riscv_fespi.c
# ------------------------------------------------------#

adapter speed 4000

adapter driver jlink
transport select jtag

# Disable tcl_port and telnet port
tcl_port disabled  ;# 6666
telnet_port disabled  ;# 4444

# GDB port 3333 enabled

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x20000913

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME

# set work area in RAM 0x8000_0000 with size 0x4000
$_TARGETNAME.0 configure -work-area-phys 0x80000000 -work-area-size 0x4000 -work-area-backup 0

# No virtual to mem conversion
riscv set_enable_virt2phys off
riscv set_enable_virtual off

# examine-start
    # Before target examine is called.
$_TARGETNAME.0 configure -event examine-start {
  echo "examine start"
}

# examine-end
    # After target examine is called with no errors.
$_TARGETNAME.0 configure -event examine-end {
  set t [jtag cget  $_TARGETNAME -idcode]
  puts [format "    Read JTAG ID is 0x%x", $t]
  puts [format "    examine end"]
}

# examine-fail
    # After target examine fails.
$_TARGETNAME.0 configure -event examine-fail {
  puts [format "    examine failed, should continue??"]
}

# halted
    # The target has halted
$_TARGETNAME.0 configure -event halted {
  puts [format "    Target halted"]
}

# gdb-attach
    # When GDB connects. Issued before any GDB communication with the target starts.
$_TARGETNAME.0 configure -event gdb-attach {
  puts [format "    GDB Attached"]
}

# gdb-detach
    # When GDB disconnects
$_TARGETNAME.0 configure -event gdb-attach {
  puts [format "    GDB Detached"]
}

# gdb-end
    # When the target has halted and GDB is not doing anything (see early halt)
$_TARGETNAME.0 configure -event gdb-end {
  puts [format "    GDB End"]
}

# Run stage
init

# set JTAG command version 3 to be used
# jlink jtag 3

# Halt target
halt




# List of events
# debug-halted
    # The target has halted for debug reasons (i.e.: breakpoint)
# debug-resumed
    # The target has resumed (i.e.: GDB said run)
# early-halted
    # Occurs early in the halt process
# examine-start
    # Before target examine is called.
# examine-end
    # After target examine is called with no errors.
# examine-fail
    # After target examine fails.
# gdb-attach
    # When GDB connects. Issued before any GDB communication with the target starts. GDB expects the target is halted during attachment. See GDB as a non-intrusive memory inspector, how to connect GDB to running target. The event can be also used to set up the target so it is possible to probe flash. Probing flash is necessary during GDB connect if you want to use see programming using GDB. Another use of the flash memory map is for GDB to automatically choose hardware or software breakpoints depending on whether the breakpoint is in RAM or read only memory. Default is halt
# gdb-detach
    # When GDB disconnects
# gdb-end
    # When the target has halted and GDB is not doing anything (see early halt)
# gdb-flash-erase-start
    # Before the GDB flash process tries to erase the flash (default is reset init)
# gdb-flash-erase-end
    # After the GDB flash process has finished erasing the flash
# gdb-flash-write-start
    # Before GDB writes to the flash
# gdb-flash-write-end
    # After GDB writes to the flash (default is reset halt)
# gdb-start
    # Before the target steps, GDB is trying to start/resume the target
# halted
    # The target has halted
# reset-assert-pre
    # Issued as part of reset processing after reset-start was triggered but before either SRST alone is asserted on the scan chain, or reset-assert is triggered.
# reset-assert
    # Issued as part of reset processing after reset-assert-pre was triggered. When such a handler is present, cores which support this event will use it instead of asserting SRST. This support is essential for debugging with JTAG interfaces which don’t include an SRST line (JTAG doesn’t require SRST), and for selective reset on scan chains that have multiple targets.
# reset-assert-post
    # Issued as part of reset processing after reset-assert has been triggered. or the target asserted SRST on the entire scan chain.
# reset-deassert-pre
    # Issued as part of reset processing after reset-assert-post has been triggered.
# reset-deassert-post
    # Issued as part of reset processing after reset-deassert-pre has been triggered and (if the target is using it) after SRST has been released on the scan chain.
# reset-end
    # Issued as the final step in reset processing.
# reset-init
    # Used by reset init command for board-specific initialization. This event fires after reset-